*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 201, 141, 0.248);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.name{
    height: 35px;
    background: rgba(7, 85, 61, 0.446);
    padding: 15px;
    background-repeat: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    border-radius: 25px;
}

.input{
    height: 35px;
    border-radius: 35px;
    border: none;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}

.btn{
    background:#222;
    border:none;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    color: white;
    border-radius: 10px;
}

.message{
    list-style: none;
    margin: 0;
    padding: 0;
}

.message li {
    padding: 10px;
}

.message li:nth-child(odd){
    background:rgb(160, 88, 88);
}